*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 80%;
    margin: 20px auto;
    text-align: center;
}
h1{
    font-size: 56px;
}
h2{
    font-weight: 600;
}

p{
    font-size: 17px;
}
img{
    margin: 10px 20px auto 20px;
    gap: 10px;
}
figcaption{
    font-style: italic;
}
h3{
    margin-top: 20px;
    font-weight: 700;
    text-align: start;
}
h4{
    text-align: start;
}
ul li{
    text-align: start;
    margin-left: 22px;
}

form{
    margin-top: 30px;
    text-align: start;
    border: 1px solid #797474;
    padding: 10px 20px;
}

label{
    font-size: 18px;
}
input{
    width: 60%;
    height: 30px;
}
textarea{
    width: 60%;
}
button{
    width: 150px;
    height: 30px;
    font-size: 18px;
    border-radius: 7px;
    border: 1px solid grey;
    background: #e0d9d9;
}
button:hover{
    background: transparent;
    transition: .5s;
}